<form method="post" action="/new">
  <label for="new_filename">Add a new document:</label>
  <div>
    <input name="new_filename" id="new_filename"></textarea>
  </div>
  <button type="submit">Create</button>
</form>