<ul>
  <% @content_files.each do |file, file_info| %>
    <li>
      <a href="<%= file_info[:url_view] %>"><%= file_info[:name] %><a>  (<a href="<%= file_info[:url_edit] %>">edit</a>)
    </li>
  <% end %>
</ul>